<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <style>
        .editing {
            display: none;
        }
        .editing-mode .editing {
            display: inline-block;
        }
        .editing-mode .todo-text {
            display: none;
        }
        .active {
            font-weight: bold;
        }
    </style>
    
</head>
<body>
    <div id="app"> 
        <h1>Todo List</h1>
        <input
            v-model="newTodo"
            @Keyup.enter="addTodo"
            placeholder="새로운 할 일을 입력하세요"
        >
        <button @click="addTodo">추가</button>

        <div>
            <button 
                @click="setFilter('all')" 
                :class="{ active: currentFilter === 'all' }"
            >전체</button>
            <button 
                @click="setFilter('active')" 
                :class="{ active: currentFilter === 'active' }"
            >미완료</button>
            <button 
                @click="setFilter('completed')" 
                :class="{ active: currentFilter === 'completed' }"
            >완료됨</button>
        </div>

        <div>
            <input 
                type="checkbox"
                id="selectAll" 
                v-model="selectAll" 
                @change="toggleAll"
            >
            <label for="selectAll">전체 선택</label>
            <button @click="deleteSelected">선택된 항목 삭제</button>
            <button @click="deleteAll">전체 삭제</button>
        </div>

        <p v-if="filteredTodos.length === 0">
            <span v-if="currentFilter === 'all'">할 일이 없습니다. 할 일을 입력하세요.</span>
            <span v-else-if="currentFilter === 'active'">미완료 상태가 없습니다.</span>
            <span v-else-if="currentFilter === 'completed'">완료된 상태가 없습니다.</span>
        </p>

        <ul v-else>
            <li
                style="list-style: none;"
                v-for="(todo, index) in filteredTodos"
                :key="todo.id"
                :class="{'editing-mode': todo.editing}"
            >
                <input
                    type="checkbox"
                    v-model="todo.selected"
                    @change="updateSelectAll"
                >
                <span
                    class="todo-text"
                    :style="{ textDecoration: todo.status === 'completed' ? 'line-through' : 'none'}"
                >{{ todo.name }}</span>
                <input
                    class="editing"
                    v-model="todo.editingName"
                    @keyup.enter="doneEdit(todo)"
                    @blur="doneEdit(todo)"
                >
                <button @click="deleteTodo(todo.id)">삭제</button>
                <button @click="editTodo(todo)">수정</button>
                <button 
                    @click="toggleCompletion(todo)"
                    :disabled="todo.editing"
                >
                    {{ todo.status === 'completed' ? '미완료': '완료'}}
                </button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                newTodo: '',
                todos: [],
                selectAll: false,
                nextTodoId: 1,
                currentFilter: 'all'
            },
            computed: {
                filteredTodos() {
                    switch (this.currentFilter) {
                        case 'active':
                            return this.todos.filter(todo => todo.status === 'active');
                        case 'completed':
                            return this.todos.filter(todo => todo.status === 'completed');
                        default:
                            return this.todos;
                    }
                }
            },
            methods: {
                // 할 일 추가
                addTodo() {
                    if(this.newTodo.trim()){
                        this.todos.push({
                            id: this.nextTodoId++,
                            name: this.newTodo.trim(),
                            status: 'active',
                            completed: false,
                            editing: false,
                            editingName: '',
                            selected: false
                        });
                        this.newTodo = '';
                        this.saveTodos();
                        this.updateSelectAll();
                    } else {
                        alert('할 일을 입력하세요')
                    }
                },
                // 할 일 삭제
                deleteTodo(id){
                    this.todos = this.todos.filter(todo => todo.id !== id);
                    this.updateSelectAll();
                    this.saveTodos();
                },
                // 전체 선택
                toggleAll() {
                    this.filteredTodos.forEach(todo => todo.selected = this.selectAll);
                },
                // 선택 삭제
                deleteSelected() {
                    this.todos = this.todos.filter(todo => !todo.selected);
                    this.updateSelectAll();
                    this.saveTodos();
                },
                // 전체 삭제
                deleteAll() {
                    switch(this.currentFilter) {
                        case 'all':
                            this.todos = [];
                            break;
                        case 'active':
                        case 'completed':
                            this.todos = this.todos.filter(todo => todo.status !== this.currentFilter);
                            break;
                        default:
                            break;
                    }
                    this.updateSelectAll();
                    this.saveTodos();
                },
                // 수정 버튼 클릭
                editTodo(todo) {
                    if(todo.name.trim() === '') {
                        alert('할 일 이름이 비어 있어 수정할 수 없습니다.')
                        return;
                    }
                    todo.editing = true;
                    todo.editingName = todo.name;
                },
                // 수정 완료
                doneEdit(todo) {
                    if(!todo.editing) return;
                    todo.name = todo.editingName.trim();
                    if(todo.editingName === '') {
                        alert('할 일 이름이 비어 있어 수정할 수 없습니다.');
                        return;
                    }else {
                        todo.name = todo.editingName.trim();
                    }
                    todo.editing = false;
                    this.saveTodos();
                },
                // 완료 미완료
                toggleCompletion(todo) {
                    if(todo.editing) {
                        return;
                    }
                    todo.status = todo.status === 'active' ? 'completed' : 'active';
                    this.saveTodos();
                    this.updateSelectAll();
                },
                // 카테고리 필터링
                setFilter(filter) {
                    this.currentFilter = filter;
                    this.updateSelectAll();
                    this.updateSelectAllState();
                },
                // 전체 선택
                updateSelectAll() {
                    this.selectAll = this.filteredTodos.length > 0 && this.filteredTodos.every(todo => todo.selected);
                },
                // 전체 선택 해제
                updateSelectAllState() {
                    this.selectAll = false;
                    this.filteredTodos.forEach(todo => todo.selected = false);
                },
                // 스토리지 저장
                saveTodos() {
                    localStorage.setItem('todos', JSON.stringify(this.todos));
                    localStorage.setItem('nextTodoId', this.nextTodoId);
                },
                // 스토리지 데이터를 로드
                loadTodos() {
                    const savedTodos = localStorage.getItem('todos');
                    if(savedTodos) {
                        this.todos = JSON.parse(savedTodos);
                    }
                    const savedNextTodoId = localStorage.getItem('nextTodoId');
                    if(savedNextTodoId) {
                        this.nextTodoId = parseInt(savedNextTodoId);
                    }
                }
            },
            beforeCreate() {
                console.log('beforeCreate');
            },
            created() {
                this.loadTodos();
                console.log('created');
            },
            beforeMount() {
                console.log('beforeMount');
            },
            mounted() {
                console.log('mounted');
            },
            beforeUpdate() {
                console.log('beforeUpdate');
            },
            updated() {
                console.log('updated');
            },
            beforeDestroy() {
                console.log('beforeDestroy');
            },
            destroyed() {
                console.log('destroyed');
            }
        });
    </script>
</body>
</html>